# Here a Rapid Miner Studio XML to help you to create a data set from transcripts a.k.a. interviews, focus groups or meetings.

#Este es un process que puede ayudarte a crear conjunto de datos de entrevistas, grupos focales o reuniones en investigación participativa o investigación social e intervención.
